[toolchain]
anchor_version = "0.29.0"

[features]
seeds = false
skip-lint = false

[programs.localnet]
orange_staking = "5MRKYXP3y54CEqDsuEGnieLwYGrGkTQNG34xcpbWEoW7"

[programs.devnet]
orange_staking = "5MRKYXP3y54CEqDsuEGnieLwYGrGkTQNG34xcpbWEoW7"

[programs.mainnet]
orange_staking = "5MRKYXP3y54CEqDsuEGnieLwYGrGkTQNG34xcpbWEoW7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
